<!-- Card principal  -->
<div class="content-block dx-card responsive-paddings padding-10">


            <br><br>
            <dx-responsive-box>
                <dxi-col [ratio]=".20"></dxi-col>
                <dxi-col [ratio]=".40"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]=".25"></dxi-col>


                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Periodo:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="periodo" displayExpr="periodo" valueExpr="periodo" (onValueChanged)="seleccionarPeriodo($event)">
                    </dx-select-box>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Compañía:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="4"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="boxCartera" displayExpr="cartera" valueExpr="id" (onValueChanged)="selectBoxCartera($event)">
                    </dx-select-box>
                </dxi-item>
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="6"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>

            </dx-responsive-box>
            <br><br>
<!--================================================= COMBO CLIENTES ASIGNACION====================================================================-->
            <dx-responsive-box>
                
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]="2"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]="1.50"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".80"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>

                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                

                <dxi-item *ngIf="carteraTerceros.length !== 0">
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Clientes:</div>
                </dxi-item>
        
                <dxi-item *ngIf="carteraTerceros.length !== 0">
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="clientes" displayExpr="cliente" valueExpr="idCliente" [searchEnabled]="true"
                    [searchExpr]="['cliente']" (onValueChanged)="selectedClientes($event)" id="select" [disabled]="showClientes">
                    </dx-select-box>
                </dxi-item>

                <dxi-item *ngIf="carteraTerceros.length !== 0">
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <div class="option">
                        <dx-check-box text="GASTOS INTERCOMPAÑIAS" (onValueChanged)="checkBox($event)"></dx-check-box>
                    </div>
                </dxi-item>

                <dxi-item *ngIf="carteraTerceros.length !== 0">
                    <dxi-location screen="md lg" [row]="0" [col]="6"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Área intercompañia:</div>
                </dxi-item>
        
                <dxi-item *ngIf="carteraTerceros.length !== 0">
                    <dxi-location screen="md lg" [row]="0" [col]="7"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="areaInter" displayExpr="nombre" valueExpr="idArea" (onValueChanged)="selectAreaInter($event)" id="areaInter">
                    </dx-select-box>
                </dxi-item>

            </dx-responsive-box>
            <br><br>
            <dx-responsive-box>

                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".50"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>

                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button *ngIf="clientesAsignados.length !== 0" stylingMode="contained" text="Asignar" type="success" [width]="120" (onClick)="postAsignarCliente()">
                        </dx-button>
                    </div>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button *ngIf="clientesAsignados.length !== 0" stylingMode="contained" text="Limpiar" type="danger" [width]="120" (onClick)="limpiar()">
                        </dx-button>
                    </div>
                </dxi-item>

            </dx-responsive-box>
            <br>
            <dx-data-grid  #ING id="gridContainer1" [dataSource]="carteraTerceros" [height]="600"[showBorders]="true" [columnAutoWidth]="true"
            (onRowPrepared)="onRowPreparedD($event)" (onCellPrepared)="onCellPreparedD($event)" (onCellClick)="onSelectionChanged($event)">

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            
            <dxo-selection *ngIf="selectCliente !== undefined && selectedIdAreaInter !== undefined" [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>
            <dxo-selection *ngIf="selectedIdAreaInter !== undefined && validationChecBox === true"  [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>


            <dxi-column dataField="compania" caption="" [groupIndex]="0"></dxi-column>
            <dxi-column dataField="nombre" caption="" [groupIndex]="1"></dxi-column>
            
            <dxi-column dataField="iD_AREA" caption="ID"></dxi-column>
            <dxi-column dataField="compania" caption="COMPAÑIA"></dxi-column>
            <dxi-column dataField="cliente" caption="CLIENTE"></dxi-column>
            <dxi-column dataField="nombre" caption="NOMBRE"></dxi-column>
            <dxi-column dataField="documento" caption="DOCUMENTO" ></dxi-column>
            <dxi-column dataField="totaL_INTEGRADO" caption="MONTO" [format]="separator" ></dxi-column>
            <dxi-column dataField="interIdCliente" caption="ID" ></dxi-column>
            <dxi-column dataField="interCliente" caption="CLIENTE INTERCOMPAÑIA" ></dxi-column>
            <dxi-column dataField="interIdArea" caption="ID ÁREA" ></dxi-column>
            <dxi-column dataField="interArea" caption="ÁREA" ></dxi-column>
            <!-- <dxi-column dataField="serie" caption="SERIE" [width]="100"></dxi-column>
            
            <dxi-column dataField="fechA_GUIA" caption="GUÍA" dataType="date" format="dd/mm/yyyy" [width]="150"></dxi-column>
            <dxi-column dataField="nocarta" caption="NO. CARTA" [width]="100"></dxi-column> 
            <dxi-column dataField="referencia" caption="REFERENCIA" [width]="100"></dxi-column>
            <dxi-column dataField="observaciones" caption="OBSERVACIONES" [width]="200"></dxi-column> 
            <dxi-column dataField="recogeR_EN" caption="RECOGER EN" [width]="100"></dxi-column> 
            <dxi-column dataField="saldO_SIN_CCOBRO" caption="SALDO SIN COBRO" [width]="160" [format]="separator"></dxi-column>
            <dxi-column dataField="totaL_INTEGRADO" caption="TOTAL INTEGRADO" [width]="160" [format]="separator"></dxi-column>
            <dxi-column dataField="diaS_DE_CREDITO" caption="DÍAS DE CRÉDITO" [width]="150"></dxi-column>
            <dxi-column dataField="f_CARTACROBRO" caption="CARTA COBRO" dataType="date" format="dd/mm/yyyy" [width]="160"></dxi-column>
            <dxi-column dataField="fechaCierre" caption="CIERRE" dataType="date" format="dd/mm/yyyy" [width]="140" ></dxi-column>
            <dxi-column dataField="fechA_VENCIMIENTO" caption="VENCIMIENTO" dataType="date" format="dd/mm/yyyy" [width]="140"></dxi-column>
            <dxi-column dataField="diasVencimiento" caption="VENCIDOS" alignment="right" [width]="100"></dxi-column> -->

            <!-- <dxi-column dataField="remision" caption="REMISIÓN" [width]="250"></dxi-column>
            <dxi-column dataField="referencia" caption="REFERENCIA" [width]="100"></dxi-column> 
            <dxi-column dataField="totaL_SALDO" caption="TOTAL SALDO" [width]="120" [format]="separator"></dxi-column> 
            <dxi-column dataField="totaL_VENCIDOS" caption="TOTAL VENCIDOS" [width]="130" [format]="separator"></dxi-column> 
            <dxi-column dataField="v1A15" caption="1-15" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="v16A30" caption="16-30" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="v31A45" caption="31-45" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="v46A60" caption="46-60" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="v61A90" caption="61-90" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="v91A120" caption="91-120" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="v120" caption="> 120" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="poR_VENCER" caption="POR VENCER" [width]="120" [format]="separator"></dxi-column> 
            <dxi-column dataField="poR_VENCER2" caption="POR VENCER 2" [width]="120" [format]="separator"></dxi-column>
            <dxi-column dataField="p1A7" caption="1-7" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="p8A15" caption="8-15" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="p16A30" caption="16-30" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="p31" caption="> 31" [width]="100" [format]="separator"></dxi-column> 
            <dxi-column dataField="diaS_SIN_CARTA_C" caption="DÍAS SIN CARTA" [width]="150"></dxi-column> -->
            
            <dxo-summary>
                <dxi-group-item column="saldO_SIN_CCOBRO" [customizeText]="customizeDateDetalle" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="totaL_INTEGRADO" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="true"></dxi-group-item>

                <dxi-total-item column="saldO_SIN_CCOBRO" [customizeText]="customizeDateDetalle"></dxi-total-item>
                <dxi-total-item column="totaL_INTEGRADO" summaryType="sum"  displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
            </dxo-summary>

            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Detalle"></dxo-export>
            <dxo-paging [pageSize]="60"></dxo-paging>
            <dxo-sorting mode="none"></dxo-sorting>

            </dx-data-grid>

    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>

    <dx-toast [(visible)]="isVisible" type="warning" message="Seleccione Año y Mes">  
        <dxo-position
            my="top"
            at="right"
            of="#container">
        </dxo-position>
    </dx-toast>
</div>
