<!-- Card principal  -->
<div class="content-block dx-card responsive-paddings padding-10">

<!--================================================= COMBO CLIENTES ASIGNACION====================================================================-->
            <dx-responsive-box>
                
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>


                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row><dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Usuarios:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="usuarios" displayExpr="nombre" valueExpr="cvetra" [searchEnabled]="true" [searchExpr]="['nombre']" (onValueChanged)="selectedClientes($event)" id="select">
                    </dx-select-box>
                </dxi-item>

                 <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>
        

            </dx-responsive-box>

            <br><br>
            <dx-responsive-box>

                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".50"></dxi-col>
                <dxi-col [ratio]=".15"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]=".30"></dxi-col>

                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button *ngIf="permisosUsuario.length !== 0" stylingMode="contained" text="Guardar" type="success" [width]="120" (onClick)="postGuardarPerm()">
                        </dx-button>
                    </div>
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button *ngIf="permisosUsuario.length !== 0" stylingMode="contained" text="Limpiar" type="danger" [width]="120" (onClick)="limpiar()">
                        </dx-button>
                    </div>
                </dxi-item>

            </dx-responsive-box>
            

            <br>
            <dx-data-grid  #gridPermisos [dataSource]="permisosUsuario" [height]="600"[showBorders]="true" [columnAutoWidth]="true"
            (onRowPrepared)="onRowPreparedD($event)" (onCellPrepared)="onCellPreparedD($event)" (onCellClick)="onSelectionChanged($event)"
             [selectionFilter]="['activo', '=', 'true']" [selectedRowKeys]="initiallySelectedKeys" (onContentReady)="onGridReady($event)">

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            
            <dxo-selection [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>

            <dxi-column dataField="aplicativo" caption="Aplicativo"></dxi-column>
            <dxi-column dataField="clave" caption="Clave"></dxi-column>
            <dxi-column dataField="pantalla" caption="Pantalla"></dxi-column>
            <dxi-column dataField="opcion" caption="Opcion"></dxi-column>
            <!-- <dxi-column dataField="activo" caption="Activo"></dxi-column> -->

            
            <!-- <dxo-summary>
                <dxi-group-item column="saldO_SIN_CCOBRO" [customizeText]="customizeDateDetalle" [showInGroupFooter]="true"></dxi-group-item>
                <dxi-group-item column="totaL_INTEGRADO" summaryType="sum" displayFormat="{0}" [valueFormat]="separator" [showInGroupFooter]="true"></dxi-group-item>

                <dxi-total-item column="saldO_SIN_CCOBRO" [customizeText]="customizeDateDetalle"></dxi-total-item>
                <dxi-total-item column="totaL_INTEGRADO" summaryType="sum"  displayFormat="{0}" [valueFormat]="separator"></dxi-total-item>
            </dxo-summary> -->

            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Detalle"></dxo-export>
            <dxo-paging [pageSize]="60"></dxo-paging>
            <dxo-sorting mode="none"></dxo-sorting>

            </dx-data-grid>

    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>

    <dx-toast [(visible)]="isVisible" type="warning" message="Seleccione Año y Mes">  
        <dxo-position
            my="top"
            at="right"
            of="#container">
        </dxo-position>
    </dx-toast>
</div>
