<h2 class="content-block">Disponibilidad Mensual</h2>
<div [id]="'myDiv'" class="content-block dx-card responsive-paddings">
    <br><br>

        <dx-form id="form" [formData]="formFilter">

            <dxi-item itemType="group" cssClass="form-group" [colCount]="5">
                 
                <dxi-item itemType="group">
                    <dxi-item dataField="Mes">  
                        <dx-select-box [dataSource]="meses" valueExpr="id" displayExpr="mes" (onValueChanged)="selectMes($event)"></dx-select-box>  
                    </dxi-item>  
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="Año">
                        <dx-select-box [dataSource]="anio" valueExpr="id" displayExpr="anio" (onValueChanged)="selectAnio($event)"></dx-select-box>
                    </dxi-item>    
                </dxi-item>

                <dxi-item itemType="group">
                    <dxi-item dataField="UdN">
                        <dx-select-box [dataSource]="udn" valueExpr="idArea" displayExpr="nombre" (onValueChanged)="selectUdn($event)"></dx-select-box>
                    </dxi-item>    
                </dxi-item>

                <dxi-item itemType="group">
                    <dxi-item dataField="Operación">
                        <dx-select-box [dataSource]="operaciones" valueExpr="id" displayExpr="operacion" (onValueChanged)="selectOpe($event)"></dx-select-box>
                    </dxi-item>    
                </dxi-item>
                <dxi-item itemType="group" class="styleButton">
                    <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                    </dx-button>
                </dxi-item>
                
            </dxi-item>
        </dx-form>
            <br>

    <dx-tab-panel>

        <dxi-item title="Operadores">
            <div>
            <dx-box direction="col" width="100%" [height]="350">
                <dxi-item [ratio]="3" [baseSize]="0">
                    <dx-box direction="row" width="100%" [height]="320">
                        <dxi-item class="rect demo-dark" [ratio]="5">

                        <dx-pie-chart id="pie" type="doughnut" title="Operatividad Mensual" [dataSource]="graficaOperador">
                            <dxo-size [height]="330"></dxo-size>
                            <dxi-series argumentField="value" valueField="operador">
                                <dxo-label [visible]="true" [format]="calculatePercent" backgroundColor="none" [radialOffset]="-20">
                                    <dxo-font size="15" color="black"></dxo-font>
                                </dxo-label>
                            </dxi-series>
                            <dxo-export [enabled]="true"></dxo-export>
                            <dxo-legend
                                [margin]="0"
                                horizontalAlignment="right"
                                verticalAlignment="top"
                            ></dxo-legend>
                            <!-- <dxo-tooltip
                                [enabled]="true"
                                [customizeTooltip]="calculatePercent"
                                
                            >
                            </dxo-tooltip> -->
                        </dx-pie-chart>     

                        </dxi-item>
                        <dxi-item class="rect demo-dark" [ratio]=".5"></dxi-item>
                        <dxi-item class="rect demo-dark" [ratio]="5">

                            <h3 style="text-align: center; font-weight: bold;">Promedio Operadores Mensuales</h3>
                            <dx-scroll-view class="view-wrapper-scroll">
                                <div class="view-wrapper">

                                    <div class="cards grey">
                                        <div id="pick" class="ticker" *ngFor="let resumenM of promedioOpMen">
                    
                                            <div *ngIf="resumenM.value == 'Operando'" class="icon-wrapper">
                                                <img src="assets/deliveryTruck.png" class="devextreme-logo">
                                            </div>
                                            <div *ngIf="resumenM.value == 'SinViaje/ Programado'" class="icon-wrapper">
                                                <img src="assets/rest.png" class="devextreme-logo">
                                            </div>
                                            <div *ngIf="resumenM.value == 'Total Disponibles'" class="icon-wrapper">
                                                <img src="assets/truck.png" class="devextreme-logo">
                                            </div>
                                            <div *ngIf="resumenM.value == 'Disponible'" class="icon-wrapper">
                                                <img src="assets/truck.png" class="devextreme-logo">
                                            </div>
                                            <div *ngIf="resumenM.value == 'No Disponible'" class="icon-wrapper">
                                                <img src="assets/noDisponibles.jpeg" class="devextreme-logo">
                                            </div>
                                            <div *ngIf="resumenM.value == 'Total'" class="icon-wrapper">
                                                <img src="assets/total.jpeg" class="devextreme-logo">
                                            </div>
                                          
                                            <div  class="middle">
                                                <div class="title"> {{ resumenM.value }} </div>
                                                <div *ngIf="resumenM.value == 'Total Disponibles' || resumenM.value == 'Total'" class="total"> {{resumenM.promedio }} </div>
                                                <div *ngIf="resumenM.value !== 'Total Disponibles' && resumenM.value !== 'Total'" class="total2"> {{resumenM.promedio }} </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dx-scroll-view>
                        </dxi-item>
                    </dx-box>
                    
                </dxi-item>
            </dx-box>
            </div>
            <div>
                <dx-data-grid #DM id="gridContainer1" [dataSource]="disponibilidadMensual" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedDM($event)" (onCellPrepared)="onCellPreparedDM($event)">
                
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true" fileName="Disponiblidad-Mensual" [customizeExcelCell]="customizeOp"></dxo-export>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-sorting mode="multiple"></dxo-sorting>

                    <dxi-column dataField="udN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                    <dxi-column dataField="operacion" caption="" [fixed]="true" [groupIndex]="1"></dxi-column>

                    <dxi-column dataField="idPersonal" caption="ID" [fixed]="true"></dxi-column>
                    <dxi-column dataField="operador" caption="Operación" [fixed]="true"></dxi-column>
                    <dxi-column dataField="total" caption="Total" [fixed]="true" [width]="80" ></dxi-column>
                    <dxi-column caption="Disponibles" alignment="center" [fixed]="true">
                        <dxi-column dataField="disponibles" caption="Disponibles" [fixed]="true" [width]="80"></dxi-column>
                        <dxi-column dataField="operando" caption="Operando" [fixed]="true" [width]="80"></dxi-column>
                        <dxi-column dataField="porOperando" caption="%" format="percent" [fixed]="true"></dxi-column>
                        <dxi-column dataField="programado" caption="Programado" [fixed]="true" [width]="80"></dxi-column>
                        <dxi-column dataField="porProgramadoo" caption="%" [format]="calculatePercent" [fixed]="true"></dxi-column>
                        <dxi-column dataField="patio" caption="Patio" [fixed]="true" [width]="80"></dxi-column>
                        <dxi-column dataField="porPatio" caption="%" format="percent" [fixed]="true"></dxi-column>
                    </dxi-column>
                    <dxi-column caption="No Disponible" alignment="center" [fixed]="true">
                        <dxi-column dataField="noDisponibles" caption="Total" [fixed]="true"  [width]="80"></dxi-column>
                        <dxi-column dataField="porDisponibilidad" caption="%" format="percent" [fixed]="true"></dxi-column>
                    </dxi-column>
                    
                    <dxi-column dataField="dia1" caption="1"></dxi-column>
                    <dxi-column dataField="dia2" caption="2"></dxi-column>
                    <dxi-column dataField="dia3" caption="3"></dxi-column>
                    <dxi-column dataField="dia4" caption="4"></dxi-column>
                    <dxi-column dataField="dia5" caption="5"></dxi-column>
                    <dxi-column dataField="dia6" caption="6"></dxi-column>
                    <dxi-column dataField="dia7" caption="7"></dxi-column>
                    <dxi-column dataField="dia8" caption="8"></dxi-column>
                    <dxi-column dataField="dia9" caption="9"></dxi-column>
                    <dxi-column dataField="dia10" caption="10"></dxi-column>
                    <dxi-column dataField="dia11" caption="11"></dxi-column>
                    <dxi-column dataField="dia12" caption="12"></dxi-column>
                    <dxi-column dataField="dia13" caption="13"></dxi-column>
                    <dxi-column dataField="dia14" caption="14"></dxi-column>
                    <dxi-column dataField="dia15" caption="15"></dxi-column>
                    <dxi-column dataField="dia16" caption="16"></dxi-column>
                    <dxi-column dataField="dia17" caption="17"></dxi-column>
                    <dxi-column dataField="dia18" caption="18"></dxi-column>
                    <dxi-column dataField="dia19" caption="19"></dxi-column>
                    <dxi-column dataField="dia20" caption="20"></dxi-column>
                    <dxi-column dataField="dia21" caption="21"></dxi-column>
                    <dxi-column dataField="dia22" caption="22"></dxi-column>
                    <dxi-column dataField="dia23" caption="23"></dxi-column>
                    <dxi-column dataField="dia24" caption="24"></dxi-column>
                    <dxi-column dataField="dia25" caption="25"></dxi-column>
                    <dxi-column dataField="dia26" caption="26"></dxi-column>
                    <dxi-column dataField="dia27" caption="27"></dxi-column>
                    <dxi-column dataField="dia28" caption="28"></dxi-column>
                    <dxi-column dataField="dia29" caption="29"></dxi-column>
                    <dxi-column dataField="dia30" caption="30"></dxi-column>
                    <dxi-column dataField="dia31" caption="31"></dxi-column>

                    
                    <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 
                        <dxi-group-item column="fake" [alignByColumn]="true"></dxi-group-item>
                    </dxo-summary>
                    <!-- <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 
                        <dxi-group-item column="disponibles" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item column="disponiblesPor" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>

                        <dxi-total-item column="disponibles" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="disponiblesPor" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>

                    </dxo-summary> -->

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                </dx-data-grid>
            </div>
        </dxi-item>
        <dxi-item title="Tractos">
            <br>
            <dx-responsive-box>
                <!-- COLS -->
                <!--Año-->
                <dxi-col [ratio]=".1"></dxi-col>
                <dxi-col [ratio]=".5"></dxi-col>
                <!--vacia-->
                <dxi-col [ratio]=".15"></dxi-col>
                <!--Compañia-->
                <dxi-col [ratio]=".30"></dxi-col>
        
                <!-- ROWS -->
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                 <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Estado Tracto:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [dataSource]="estadoTracto" valueExpr="siglas" displayExpr="estado" itemTemplate="colorTemplate" (onValueChanged)="selectFiltro($event)">
                            <div *dxTemplate="let data of 'colorTemplate'">
                              <div [ngStyle]="{'background-color': data.color, 'height': '20px', 'width': '100%'}">
                                {{data.estado}}
                              </div>
                            </div>
                        </dx-select-box> 
                </dxi-item>

                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Filtrar" icon="search" type="normal" [width]="120" (onClick)="buscarFiltro($event)">
                        </dx-button>
                    </div>
                </dxi-item>
             
            </dx-responsive-box>
            <br>
            <dx-data-grid #DM id="gridContainer1" [dataSource]="tractos" [height]="570" [showBorders]="true" [columnAutoWidth]="true"
                (onRowPrepared)="onRowPreparedT($event)" (onCellPrepared)="onCellPreparedT($event)">
                
                    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-paging [pageSize]="100"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                    <dxo-export [enabled]="true" fileName="Tractos" [customizeExcelCell]="customizeTr"></dxo-export>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-sorting mode="multiple"></dxo-sorting>

                    <dxi-column dataField="udN" caption="" [fixed]="true" [groupIndex]="0"></dxi-column>
                    <dxi-column dataField="operacion" caption="" [fixed]="true" [groupIndex]="1"></dxi-column>

                    <!-- <dxi-column dataField="idPersonal" caption="ID" [fixed]="true"></dxi-column> -->
                    <dxi-column dataField="operadores" caption="Operadores" [fixed]="true"></dxi-column>
                    <dxi-column dataField="tracto" caption="Tracto" [fixed]="true"></dxi-column>
                    <dxi-column dataField="dia1" caption="1"></dxi-column>
                    <dxi-column dataField="dia2" caption="2"></dxi-column>
                    <dxi-column dataField="dia3" caption="3"></dxi-column>
                    <dxi-column dataField="dia4" caption="4"></dxi-column>
                    <dxi-column dataField="dia5" caption="5"></dxi-column>
                    <dxi-column dataField="dia6" caption="6"></dxi-column>
                    <dxi-column dataField="dia7" caption="7"></dxi-column>
                    <dxi-column dataField="dia8" caption="8"></dxi-column>
                    <dxi-column dataField="dia9" caption="9"></dxi-column>
                    <dxi-column dataField="dia10" caption="10"></dxi-column>
                    <dxi-column dataField="dia11" caption="11"></dxi-column>
                    <dxi-column dataField="dia12" caption="12"></dxi-column>
                    <dxi-column dataField="dia13" caption="13"></dxi-column>
                    <dxi-column dataField="dia14" caption="14"></dxi-column>
                    <dxi-column dataField="dia15" caption="15"></dxi-column>
                    <dxi-column dataField="dia16" caption="16"></dxi-column>
                    <dxi-column dataField="dia17" caption="17"></dxi-column>
                    <dxi-column dataField="dia18" caption="18"></dxi-column>
                    <dxi-column dataField="dia19" caption="19"></dxi-column>
                    <dxi-column dataField="dia20" caption="20"></dxi-column>
                    <dxi-column dataField="dia21" caption="21"></dxi-column>
                    <dxi-column dataField="dia22" caption="22"></dxi-column>
                    <dxi-column dataField="dia23" caption="23"></dxi-column>
                    <dxi-column dataField="dia24" caption="24"></dxi-column>
                    <dxi-column dataField="dia25" caption="25"></dxi-column>
                    <dxi-column dataField="dia26" caption="26"></dxi-column>
                    <dxi-column dataField="dia27" caption="27"></dxi-column>
                    <dxi-column dataField="dia28" caption="28"></dxi-column>
                    <dxi-column dataField="dia29" caption="29"></dxi-column>
                    <dxi-column dataField="dia30" caption="30"></dxi-column>
                    <dxi-column dataField="dia31" caption="31"></dxi-column>
                    
                    <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 
                        <dxi-group-item column="fake" [alignByColumn]="true"></dxi-group-item>
                    </dxo-summary>
                    <!-- <dxo-summary [calculateCustomSummary]="calcularPorcentajes"> 
                        <dxi-group-item column="disponibles" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>
                        <dxi-group-item column="disponiblesPor" summaryType="custom" displayFormat="{0}" valueFormat="percent" [showInGroupFooter]="true" [alignByColumn]="false"></dxi-group-item>

                        <dxi-total-item column="disponibles" summaryType="sum" displayFormat="{0}"></dxi-total-item>
                        <dxi-total-item column="disponiblesPor" summaryType="custom" displayFormat="{0}" valueFormat="percent"></dxi-total-item>

                    </dxo-summary> -->

                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            </dx-data-grid>
        </dxi-item>
    </dx-tab-panel>    

    
    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>


    <dx-toast [(visible)]="isVisible" type="info" message="Seleccione Año y Mes">
        <dxo-position my="top" at="right" of="#container">
        </dxo-position>
    </dx-toast>
</div>