<!-- Card principal  -->
<div class="content-block dx-card responsive-paddings padding-10">

    <dx-tab-panel>
        <dxi-item title="Proyección">
            <br><br>
            <dx-responsive-box>
                <!-- COLS -->
                <!--Año-->
                <dxi-col [ratio]=".50"></dxi-col>
                <dxi-col [ratio]=".90"></dxi-col>
                <!--vacia-->
                <dxi-col [ratio]=".15"></dxi-col>
                <!--Compañia-->
                <dxi-col [ratio]=".70"></dxi-col>
                <dxi-col [ratio]="3.20"></dxi-col>
                <!--vacia-->
                <dxi-col [ratio]=".15"></dxi-col>
                <!--UDN-->
                <dxi-col [ratio]=".40"></dxi-col>
                <dxi-col [ratio]="1.10"></dxi-col>
                <!--vacia-->
                <!-- <dxi-col [ratio]=".15"></dxi-col> -->
                <!--Clasificacion-->
                <!-- <dxi-col [ratio]="1.70"></dxi-col>
                <dxi-col [ratio]="3"></dxi-col> -->
                <!--vacia-->
                <dxi-col [ratio]=".15"></dxi-col>
                <!--Buscar-->
                <dxi-col [ratio]=".30"></dxi-col>
                <dxi-col [ratio]="1.20"></dxi-col>
        
        
                <!-- ROWS -->
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
        
                <!-- CONTROLES DEL FORM -->
                <!--#region :::: ROW 1 DEL FORM ::::  -->
                <!-- AÑO -->
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="0"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Periodo:</div>
                </dxi-item>
        
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="1"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="11" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="arrAnos" displayExpr="anio" valueExpr="idAnio"  [value]="arrAnos[0].idAnio" [disabled]="true">
                    </dx-select-box>
                </dxi-item>
                <!-- MES -->
                <!-- <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="2" [col]="0" [colspan]="12"></dxi-location>
                    <div>Mes:</div>
                </dxi-item>
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="4"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="3" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="arrMeses" displayExpr="nombre" valueExpr="idMes" (onValueChanged)="seleccionarMes($event)">
                    </dx-select-box>
                </dxi-item> -->
        
                <!--Compañia -->
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="3"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="0" [col]="0" [colspan]="12"></dxi-location>
                    <div>Compañia:</div>
                </dxi-item>
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="4"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="1" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="nweCompanias" displayExpr="compania" valueExpr="compania" (onValueChanged)="selectCompaniaNew($event)">
                    </dx-select-box>
                </dxi-item>
                <!--ROW 1 Unidad de Negocio -->
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="6"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="0" [col]="0" [colspan]="12"></dxi-location>
                    <div>UdN:</div>
                </dxi-item>
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="7"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="1" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="arrUnidadesNegocio" displayExpr="udn" valueExpr="idUdn" (onValueChanged)="seleccionarUDN($event)">
                    </dx-select-box>
                </dxi-item>
                <!-- CLASIFICACION se oculto por el momento -->
                <!-- <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="12"></dxi-location>
                    <dxi-location style="margin-top: 1rem" screen="xs sm" [row]="10" [col]="0" [colspan]="12"></dxi-location>
                    <div>Clasificación:</div>
                </dxi-item>
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="13"></dxi-location>
                    <dxi-location style="margin-top: 0.5rem" screen="xs sm" [row]="1" [col]="0" [colspan]="12"></dxi-location>
                    <dx-select-box [items]="clasificaciones" displayExpr="clasificacion" valueExpr="idClas" (onValueChanged)="selectClasficacion($event)">
                    </dx-select-box>
                </dxi-item> -->
                <!-- BUSCAR -->
                <dxi-item>
                    <dxi-location screen="md lg" [row]="0" [col]="10"></dxi-location>
                    <dxi-location style="margin-top: .20rem" screen="xs sm" [row]="12" [col]="0" [colspan]="12"></dxi-location>
                    <div>
                        <dx-button stylingMode="contained" text="Buscar" icon="search" type="normal" [width]="120" (onClick)="buscarClick($event)">
                        </dx-button>
                    </div>
                </dxi-item>
                <!--#endregion :::: FIN ROW 1 ::::  -->
            </dx-responsive-box>
            <br>
        
          

                    <dx-data-grid  #ER id="gridContainer2" [dataSource]="proyeccionCTS1" [height]="700"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedCAER($event)" (onCellPrepared)="onCellPreparedCAER($event)">
                      
                      <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                      <dxo-paging [pageSize]="100"></dxo-paging>
                      <dxo-export [enabled]="true" fileName="Proyección Costos" [customizeExcelCell]="customizeCAER"></dxo-export>

                        <!-- <dxi-column dataField="clasificacion" caption="Clasificación" [fixed]="true" headerCellTemplate="headerTemplate"></dxi-column> -->
                        <dxi-column caption="{{myCompania +' - '+ myUdN + ' - OPERATIVO'}}" >


                            <!-- <dxi-column caption="CONTABILIZADO DEL MES"> -->
                                <dxi-column dataField="concepto" caption="Concepto"></dxi-column>
                                <dxi-column dataField="real" caption="REAL" [format]="separator" [allowSorting]="false" [width]="150"></dxi-column>
                                <dxi-column dataField="realP" caption="%" format="percent" [width]="80"></dxi-column>
                                <dxi-column dataField="presupuesto" caption="PRESUP" [format]="separator" [allowSorting]="false" [width]="150"></dxi-column>
                                <dxi-column dataField="presupuestoP" caption="%" format="percent" [width]="80"></dxi-column>
                                <dxi-column dataField="presupuestoPC" caption="vs Real %" format="percent" [allowSorting]="false" [width]="80"></dxi-column>
                                <dxi-column dataField="proyeccion" caption="PROYECC" [format]="separator" [allowSorting]="false" [width]="150"></dxi-column>
                                <dxi-column dataField="proyeccionFactor" caption="% Factor" format="percent" [allowSorting]="false" [width]="80"></dxi-column>
                            <!-- </dxi-column> -->
                        </dxi-column>
                        <!-- <dxi-column dataField="periodo" caption="Periodo"  headerCellTemplate="headerTemplate"></dxi-column>
                        <dxi-column dataField="renglon" caption="Renglon" headerCellTemplate="headerTemplate"></dxi-column> -->

                        <!-- <dxi-column dataField="" caption="Ver" [fixed]="false" cellTemplate="detalleCellTemplate"></dxi-column>

                        <div *dxTemplate="let data of 'detalleCellTemplate'">
                            <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="verDetallesClick(data)"></dx-button>
                        </div> -->

                    </dx-data-grid>
                    <br><br>
             
                    <dx-data-grid  #ER id="gridContainer2" [dataSource]="proyeccionCTS2" [height]="500"[showBorders]="true" [columnAutoWidth]="true"
                    (onRowPrepared)="onRowPreparedCAER($event)" (onCellPrepared)="onCellPreparedCAER($event)">
                      
                      <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
                      <dxo-paging [pageSize]="100"></dxo-paging>
                      <dxo-export [enabled]="true" fileName="Proyección Costos" [customizeExcelCell]="customizeCAER"></dxo-export>

                        <!-- <dxi-column dataField="clasificacion" caption="Clasificación" [fixed]="true" headerCellTemplate="headerTemplate"></dxi-column> -->
                        <dxi-column caption="{{myCompania +' - '+ myUdN+' - CONTABILIZADO'}}" >


                            <!-- <dxi-column caption="CONTABILIZADO DEL MES"> -->
                                <dxi-column dataField="concepto" caption="Concepto"></dxi-column>
                                <dxi-column dataField="real" caption="REAL" [format]="separator" [allowSorting]="false" [width]="150"></dxi-column>
                                <dxi-column dataField="realP" caption="%" format="percent" [width]="80"></dxi-column>
                                <dxi-column dataField="presupuesto" caption="PRESUP" [format]="separator" [allowSorting]="false" [width]="150"></dxi-column>
                                <dxi-column dataField="presupuestoP" caption="%" format="percent" [width]="80"></dxi-column>
                                <dxi-column dataField="presupuestoPC" caption="vs Real %" format="percent" [allowSorting]="false" [width]="80"></dxi-column>
                                <dxi-column dataField="proyeccion" caption="PROYECC" [format]="separator" [allowSorting]="false" [width]="150"></dxi-column>
                                <dxi-column dataField="proyeccionFactor" caption="% Factor" format="percent" [allowSorting]="false" [width]="80"></dxi-column>
                            <!-- </dxi-column> -->
                        </dxi-column>
                        <!-- <dxi-column dataField="periodo" caption="Periodo"  headerCellTemplate="headerTemplate"></dxi-column>
                        <dxi-column dataField="renglon" caption="Renglon" headerCellTemplate="headerTemplate"></dxi-column> -->

                        <!-- <dxi-column dataField="" caption="Ver" [fixed]="false" cellTemplate="detalleCellTemplate"></dxi-column>

                        <div *dxTemplate="let data of 'detalleCellTemplate'">
                            <dx-button icon="paste" stylingMode="outlined" type="danger" (onClick)="verDetallesClick(data)"></dx-button>
                        </div> -->

                    </dx-data-grid>
        </dxi-item>
    </dx-tab-panel>
   

<!--==========================MODAL REAL=========================================================-->
<dx-popup width="100%" height="100%" [showTitle]="true" title="Detalle" [dragEnabled]="false" [closeOnOutsideClick]="true" [showCloseButton]="true" container=".dx-viewport" [(visible)]="modDetalleA">
    <!-- <dxo-position at="middle" my="center" [of]="positionOf"> </dxo-position>  -->


    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">

            <dx-data-grid class="data-grid" [dataSource]="proyeccionCTS1" [showColumnLines]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true"
             [allowColumnResizing]="true" [allowColumnReordering]="false" [columnAutoWidth]="true" [showBorders]="true">

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

                <dxo-export [enabled]="true" fileName="Auxiliar"></dxo-export>
                
                <dxi-column caption="POLIZA">
                   <dxi-column dataField="nombre" caption="Compañia" [fixed]="true"></dxi-column>
                   <dxi-column dataField="areaPoliza" caption="Area" [fixed]="true"></dxi-column>
                   <dxi-column dataField="descripcionTipo" caption="Descripcion Tipo" [fixed]="true"></dxi-column>
                   <dxi-column dataField="descripcion" caption="Descripción"></dxi-column>
                   <dxi-column dataField="identificadorPoliza" caption="Identificador"></dxi-column>
                   <dxi-column dataField="fechaCreacion" caption="Creacion" format="dd/mm/yyyy"></dxi-column>
                   <dxi-column dataField="fechaIngreso" caption="Ingreso" format="dd/mm/yyyy"></dxi-column>
                   <dxi-column dataField="fechaModifico" caption="Modificación" format="dd/mm/yyyy"></dxi-column>
                   <dxi-column dataField="totalAbono" caption="Abono" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
                   <dxi-column dataField="totalCargo" caption="Cargo" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
               </dxi-column>
               <dxi-column caption="Detalle cuenta">
                   <dxi-column dataField="numPartida" caption="Partida"></dxi-column>
                   <dxi-column dataField="conceptoIndividual" caption="Concepto individual"></dxi-column>
                   <dxi-column dataField="numCuentaFormat" caption="Num. Cuenta"></dxi-column>
                   <dxi-column dataField="descCuenta" caption="Cuenta"></dxi-column>
                   <dxi-column dataField="referencia" caption="Referencia"></dxi-column>
                   <dxi-column dataField="mmAbono" caption="Abono" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
                   <dxi-column dataField="mmCargo" caption="Cargo" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
                   <dxi-column dataField="total" caption="Total" format="$ #,##0.##;-$ #,##0.##"></dxi-column>
               </dxi-column>
               <dxi-column caption="Centro costos origen">
                   <dxi-column dataField="centroCosto1" caption="Centro costo 1"></dxi-column>
                   <dxi-column dataField="centroCosto2" caption="Centro costo 2"></dxi-column>
                   <dxi-column dataField="centroCosto3" caption="Centro costo 3"></dxi-column>
               </dxi-column>
               <dxi-column caption="Centro costos aplicación">
                   <dxi-column dataField="centroCostoCia" caption="Compañia"></dxi-column>
                   <dxi-column dataField="centroCostoCta" caption="Centro costo"></dxi-column>
               </dxi-column>

                <div *dxTemplate="let data of 'headerTemplate'">
                    <div style="font-weight: bolder; color: black">
                        {{ data.column.caption }}
                    </div>
                </div>
                <div *dxTemplate="let cell of 'cellTemplateBold'">
                    <div style="font-weight: bold;">{{cell.text}}</div>
                </div>
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="expandGroup"></dxo-grouping>
                <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" displayMode="full" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-sorting mode="none"></dxo-sorting>
            </dx-data-grid>
        </dx-scroll-view>
    </div>
</dx-popup>
<!--=============================================FIN MODAL==========================================-->

    <!-- LOAD PANEL -->
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#rentCont2' }" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">
    </dx-load-panel>

    <dx-toast [(visible)]="isVisible" type="warning" message="Seleccione Año y Mes">  
        <dxo-position
            my="top"
            at="right"
            of="#container">
        </dxo-position>
    </dx-toast>
</div>
