@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  ::ng-deep .card.sales-range {
    margin-top: 20px;

    .content {
      height: auto;
    }
  }
}


.map {
    width: 100%;
    height: 80vh;
  }
